.product {
    position: relative;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    text-align: center;
    max-width: 250px;
  }
  
  .sale-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff5722;
    color: white;
    padding: 4px;
    font-size: 12px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h3 {
    margin: 10px 0;
  }
  
  .price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .discounted-price {
    font-weight: bold;
    color: #ff5722;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #757575;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .rating svg {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  
  .add-to-cart,
  .view-options {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Responsive Product */
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    flex: 0 0 calc(25% - 32px); /* 32px là tổng margin và padding của sản phẩm */
    margin: 16px;
    text-align: center;
    max-width: 250px;
  }
  
  /* Add cart */
  .cart {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .cart-total {
    margin-top: 10px;
    font-size: 18px;
  }
  